<!-- <p>footer works!</p> -->
<footer style="position: fixed; left: 0; bottom: 0; width: 100%; background: #222; color: #fff; text-align: center; padding: 10px 0;">
    <div style="margin-bottom: 8px;">
        <a href="https://facebook.com" target="_blank" style="margin: 0 10px; color: #fff;">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com" target="_blank" style="margin: 0 10px; color: #fff;">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="https://instagram.com" target="_blank" style="margin: 0 10px; color: #fff;">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="mailto:info@hotel.com" style="margin: 0 10px; color: #fff;">
            <i class="fa fa-envelope"></i>
        </a>
        <a href="tel:+1234567890" style="margin: 0 10px; color: #fff;">
            <i class="fa fa-phone"></i>
        </a>
    </div>
    <div>
        &copy; 2024 Hotel Reservation. All rights reserved.
    </div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">