@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: monospace;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;

}

.main {
    /* max-width: 1200px; */

    /* background: #fff; */
    font-size: 20px;
    font-weight: 500;
    font-weight: 900;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    background-color: skyblue;



}

.submain {
    position: sticky;
    top: 0;
    z-index: 100;
}

button {
    background-color: antiquewhite;
    color: black;
}

h2 {
    text-align: center;
    padding: 10px;
}

.submain {
    text-align: center;
}

.welcome-section {
    background-color: white;
}